.ld-container {
    -webkit-user-select: none;
    background-color: #f4f4f4;
    border-width: 1px;
    border-color: #e8eaec;
    border-radius: 18px;
    padding: 15px;
    overflow: auto;
    box-shadow: 0 0 16.8px 4.2px #7878784d;
    width: 290px!important;
    height: 468px!important
}

.ld-brand-container {
    position: relative
}

.ld-close {
    top: 10px!important;
    right: 10px!important
}
