.love-deal-container {
    -webkit-user-select: none;
    background-color: #fff;
    border-width: 1px;
    border-color: #e8eaec;
    border-radius: 18px;
    width: 320px;
    height: 468px;
    box-shadow: 0 0 16.8px 4.2px #7878784d
}

.love-deal-container.love-deal-has-active {
    height: 518px
}

#love-deal-container {
    z-index: 2147483647;
    width: 320px;
    height: auto;
    transition: all .3s;
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 16px!important
}

#love-deal-container.love-deal-has-active {
    height: 518px
}

.love-deal-header {
    z-index: 99;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    display: flex;
    position: relative;
    top: 0;
    left: 0
}

.love-deal-logo {
    cursor: pointer;
    text-align: center;
    width: 34px;
    height: 34px;
    font-size: 0;
    line-height: 24;
    display: block;
    position: absolute;
    top: 18px;
    left: 20px
}

.love-deal-close {
    cursor: pointer;
    text-align: center;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 12;
    display: block;
    position: absolute;
    top: 22px;
    right: 30px
}

.love-deal-logo-img,.love-deal-close-icon,.love-deal-close-hover-icon {
    width: 100%
}

.love-deal-close-hover-icon,.love-deal-close:hover .love-deal-close-icon {
    display: none
}

.love-deal-close:hover .love-deal-close-hover-icon {
    display: block
}

.love-deal-coupon-logo,.love-deal-coupon-num {
    text-align: center;
    place-content: center;
    align-items: center;
    height: 60px;
    display: block
}

.love-deal-coupon-logo {
    border-radius: 1000px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 30px #7878784d
}

.love-deal-brand-name {
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    color: #000;
    -webkit-box-orient: vertical;
    width: 80%;
    text-decoration: none;
    display: -webkit-box;
    overflow: hidden
}

.love-deal-coupon-logo img {
    width: 100%
}

.love-deal-coupon img {
    height: 100%
}

.love-deal-coupon-num {
    color: #000;
    letter-spacing: 0;
    height: 80px;
    font-size: 22px;
    font-style: normal;
    font-weight: bolder;
    line-height: 24px;
    text-decoration: none
}

.love-deal-coupon-red {
    color: #ff4b49;
    fill: #fe564d
}

.love-deal-line {
    background-color: #f0f0f0;
    width: 90%;
    height: 1px;
    margin: 0 auto
}

.love-deal-rate {
    height: 50px;
    line-height: 50px
}

.love-deal-coupon-sm {
    color: #000;
    margin-left: 5%;
    font-size: 13px
}

.love-deal-right {
    float: right;
    margin-right: 5%;
    font-size: 13px;
    font-weight: 700;
    position: relative
}

.love-deal-m-right {
    margin-right: 30px
}

.love-deal-high {
    position: absolute;
    top: 5px;
    right: 0
}

.love-deal-coupon-box {
    text-align: center;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px
}

.love-deal-coupon {
    text-align: center;
    background: #fb9b3617;
    border: 1px dashed #ff817f;
    border-radius: 11px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative
}

.love-deal-code {
    color: #000;
    -webkit-user-select: text;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 25px;
    left: 15px
}

.love-deal-worked {
    color: #000;
    -webkit-user-select: none;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 45px;
    left: 15px
}

.love-deal-success {
    border-style: none;
    border-color: unset;
    text-align: center;
    color: #fe564d;
    letter-spacing: 0;
    background: #ffcbc4;
    border-radius: 27px;
    width: 120px;
    height: 22px;
    padding: 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    position: absolute;
    top: 7px;
    right: 10px
}

.love-deal-copy {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 35px;
    right: 50px
}

.love-deal-copied {
    color: #000;
    margin-right: -20px
}

.love-deal-more-btn {
    border-style: none;
    border-color: unset;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg,#ff986d,#ff5d80);
    border-radius: 71px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: bolder;
    line-height: 40px;
    text-decoration: none;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: block
}

.love-deal-more-btn.love-deal-none {
    animation-name: none
}

.love-deal-snooze {
    color: #8e8e8e;
    letter-spacing: 0;
    text-align: center;
    z-index: 10;
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-decoration: underline;
    position: relative
}

.love-deal-snooze span {
    cursor: pointer
}

@keyframes shake {
    0%,to {
        transform: translate(0,0)
    }

    10%,30%,50%,70%,90% {
        transform: translate(-10px)
    }

    20%,40%,60%,80% {
        transform: translate(10px)
    }
}

.love-deal-ball {
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    z-index: 2147483647;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: fixed;
    box-shadow: 0 0 16.8px 4.2px #7878784d
}

.love-deal-ball.expanded {
    width: 55px
}

.no-transition {
    transition: none!important
}

.love-deal-ball-img-box {
    position: relative
}

.love-deal-ball img {
    user-select: none;
    -webkit-user-drag: none;
    height: 48px
}

.love-deal-close-container {
    width: 0!important;
    height: 0!important
}

.love-deal-ball-move {
    z-index: 999;
    cursor: ns-resize;
    width: 12px;
    height: 48px;
    display: block;
    position: absolute;
    top: 0;
    right: 0
}

.close {
    right: -58px!important
}

.love-deal-active img {
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 100%;
    font-size: 0;
    overflow: hidden
}

.love-apply-container {
    height: auto!important
}

.love-deal-test-box {
    user-select: none;
    background: #00000080;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}

.love-deal-box {
    border-radius: 20px;
    width: 800px;
    height: 354px;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%,-70%);
    box-shadow: 0 0 10px #fcfcfc
}

.love-deal-box .love-deal-box-bg {
    width: 800px;
    height: 354px
}

.love-deal-box-content {
    width: 100%;
    height: 100%;
    position: relative
}

.love-deal-box-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.love-deal-box-title {
    text-align: center;
    font-size: 38px;
    font-weight: 700
}

.love-deal-test-list {
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.love-deal-test-active-box {
    color: #f66a42;
    z-index: 10;
    border: 2px solid #ff5050;
    border-radius: 1000px;
    width: 200px;
    height: 45px;
    margin-top: -26px;
    margin-left: -100px;
    font-size: 24px;
    line-height: 45px;
    animation: 1s ease-in-out infinite bounce;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 16px 4px #7878784d
}

.love-deal-test-codes {
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    margin: 40px auto;
    transition: transform .5s;
    display: flex;
    position: relative
}

.love-deal-test-code {
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: linear-gradient(90deg,#ff9173,red);
    color: #0000;
    -webkit-background-clip: text;
    border-radius: 1000px;
    align-items: center;
    min-width: 200px;
    padding: 0 45px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    overflow: hidden
}

.love-deal-test-active {
    color: #f66a42;
    padding: 0 0 0 45px;
    font-size: 22px
}

.love-deal-test-code-img {
    vertical-align: text-top;
    width: 38px;
    margin-top: -3px;
    margin-left: 10px
}

.love-deal-test-active .love-deal-test-code-img {
    display: block
}

.love-deal-test-process {
    background-color: #fff;
    border: 3px solid #f66a42;
    border-radius: 1000px;
    width: 726px;
    height: 26px;
    margin: 0 auto
}

.love-deal-test-process-inside {
    background: linear-gradient(90deg,#fea374,#ff678b);
    border-radius: 1000px;
    width: 0;
    height: 20px;
    margin: 3px;
    animation-duration: 5s
}

.love-deal-test-process-text {
    text-align: center;
    color: #f66a42;
    width: 100%;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700
}

@keyframes bounce {
    0%,to {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }
}

.love-deal-box-btns {
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 40px;
    display: flex
}

.love-deal-box-btn {
    color: #fff;
    cursor: pointer;
    border-radius: 1000px;
    width: 290px;
    font-size: 22px;
    font-weight: bolder;
    line-height: 50px;
    box-shadow: 0 0 16px 4px #7878784d
}

.love-deal-box-btn-0 {
    background-color: #00b025
}

.love-deal-box-btn-1 {
    background-color: #ff6200
}

.love-deal-best-code {
    cursor: pointer;
    background: linear-gradient(135deg,#fce38a33,#f38181cc);
    width: 200px;
    padding: 5px 60px;
    font-size: 22px
}

.love-deal-best-succ {
    vertical-align: middle;
    width: 36px;
    margin-left: 10px
}

.love-deal-ball-close {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 35px;
    left: -10px
}

.love-deal-ball-close img {
    width: 13px;
    height: 13px;
    display: block
}
